// Colors

$blue: #3845ab;
$light-blue: #383e5e;
$dark-blue: #332c5a;
$black-blue: #1f1f39;
$color3: #82a4d0;
$color4: #e7f1ff;
$orange: #eea86c;
$dark-orange: #fd9704;
$green: #25d366;
$light-orange: #fef4ee;
$white: #fff;
$gray: #b1b8c7;
$light: #f3f6fd;

// Global

*:not(i) {
  font-family: "Cairo";
  font-weight: normal;
}

html {
  direction: rtl;
}

body {
  margin-top: 68px;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Cairo";
  src: url("../webfonts/Cairo/Cairo-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("../webfonts/Cairo/Cairo-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Cairo";
  src: url("../webfonts/Cairo/Cairo-Light.ttf");
  font-weight: 300;
}

// Sections Spaces
section {
  padding: 100px 0 0;
}

// Section Style
.section-top {
  padding-top: 0;
  padding-bottom: 0;
  transform: translateY(-60px);
}

// Section Title Versions
.section-title_v1 {
  font-weight: bold;
  color: $blue;
  font-size: 23px;
  margin-bottom: 30px;
}

.section-title_v2 {
  @extend .section-title_v1;
  position: relative;
  padding-right: 25px;
  height: 50px;
  line-height: 50px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: $blue;
    width: 10px;
    height: 100%;
  }
}

// Cards Versions

.card_v1 {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  display: block;
  text-decoration: none;

  .overlay {
    background-image: linear-gradient(
      to left,
      rgba(11, 59, 166, 0.7) 14%,
      rgba(47, 45, 98, 0.4) 100%
    );

    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &:hover .overlay {
    background-image: linear-gradient(
      to bottom,
      rgba(253, 151, 4, 0.2528361686471463) 19%,
      rgba(253, 151, 4, 1) 100%
    );
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-text {
    text-decoration: none;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 18px;
    border: 2px solid $white;
    padding: 8px 25px;
  }
}

.card_v2 {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  display: block;
  text-decoration: none;
  height: 100%;
  color: $white;

  .units-count {
    background-color: $dark-orange;
    color: $white;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
  }

  .overlay {
    background-image: linear-gradient(
      to left bottom,
      rgba(11, 59, 166, 0.5) 14%,
      rgba(47, 45, 98, 0.2) 100%
    );

    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &:hover .overlay {
    background-image: linear-gradient(
      to top right,
      rgba(253, 151, 4, 0.2528361686471463) 19%,
      rgba(253, 151, 4, 1) 100%
    );
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-details {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: $white;
    z-index: 2;

    .card-text,
    .city-name {
      font-size: 14px;
    }

    .card-title {
      font-weight: bold;
    }
  }
}

.card_v2-sm {
  .card-text,
  .city-name {
    font-size: 12px;
  }

  .card-title {
    font-size: 18px;
  }
}

.card_v3 {
  border: 1px solid rgba(212, 212, 212, 0.541);
  border-radius: 30px;
  overflow: hidden;

  .card-img {
    position: relative;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .overlay {
      background-image: linear-gradient(
        to left bottom,
        rgba(11, 59, 166, 0.5) 14%,
        rgba(47, 45, 98, 0.2) 100%
      );

      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  .card-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .card-link {
    text-decoration: none;
    padding: 6px 30px;
    border: 1px solid $blue;
    color: $blue;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 4px;
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}

.card_v4 {
  @extend .card_v3;

  border-radius: 15px;

  .card-img {
    border-radius: 0;

    img {
      height: initial;
    }

    .card-label {
      position: absolute;
      top: 7px;
      right: 10px;
      color: $white;
      font-size: 14px;
    }

    .card-details {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba($color: #000, $alpha: 0.6);
      color: $white;
      display: flex;
      align-items: center;
      text-align: center;

      .details-item {
        display: block;
        padding: 8px;
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        font-size: 15px;

        i {
          font-size: 20px;
        }

        &:nth-child(2) {
          background-color: rgba($color: #000, $alpha: 0.6);
        }
      }
    }
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .card-location {
    display: block;
    margin-bottom: 10px;

    i {
      color: $dark-orange;
    }
  }

  .card-price {
    display: block;
    margin-bottom: 20px;
    color: $dark-orange;
    font-weight: bold;
  }
}

// Pagination
.page-item .page-link {
  color: #000;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: $dark-orange;
  border-color: $dark-orange;
}

.page-item:first-child .page-link {
  border-radius: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
}

.page-item:last-child .page-link {
  border-radius: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
}

// Buttons
.button {
  border: none;
  outline: none;
  text-decoration: none;
  background: none;
  height: 50px;
  width: 100px;
  transition: 0.4s ease-in-out;
  border-radius: 6px;
  &:hover {
    filter: saturate(130%);
  }
}

.button-blue {
  color: #fff;
  background: rgb(11, 59, 166);
  background: linear-gradient(
    31deg,
    rgba(11, 59, 166, 1) 3%,
    rgba(43, 46, 105, 1) 69%,
    rgba(47, 45, 98, 1) 90%
  );
}

// Form Components

.form-item {
  position: relative;
}

.form-item select {
  background-image: none;
  padding-right: 10px;
  appearance: none;
}

.form-select.light {
  background-color: $light;
}

.form-item input,
.form-item select {
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  border-radius: 6px;
}

.form-item i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.form-item .invalid-feedback {
  position: absolute;
  bottom: -50px;
  background: $white;
  padding: 10px;
  z-index: 1;
}

/*  ================================== Header ==================================  */

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  background: rgb(75, 90, 148);
  background: linear-gradient(
    90deg,
    rgba(75, 90, 148, 1) 14%,
    rgba(64, 99, 180, 1) 74%,
    rgba(63, 100, 183, 1) 100%
  );
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

  .navbar-brand {
    transform: translateX(118px);
    background-color: $white;
    width: 300px;
    padding: 20px 0;
    margin: 0;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);

    img {
      width: 120px;
    }
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/nav-toggler.svg");
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}

.navbar-light .navbar-nav .nav-link {
  color: $white;
  transition: 0.4s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  opacity: 0.7 !important;
  color: $white;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: $dark-orange;
}

@media (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    font-size: 15px;
  }
}

// ================================== Breadcrumb ==================================
.breadcrumb-content {
  position: relative;
  margin-top: 85px;
  background-image: url("../images/breadcrumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 50px 0 80px;
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(10px);
  }

  .head {
    position: relative;
    z-index: 2;
  }

  h2 {
    font-weight: bold;
    color: $white;
  }

  .contact-us a {
    width: 300px;
    padding: 10px;
    color: $white;
    border-radius: 6px;
    transition: 0.4s ease-in-out;

    &:hover {
      filter: saturate(140%);
    }

    i {
      font-size: 30px;
    }
  }

  .contact-us a:nth-child(1) {
    background-color: $dark-orange;
  }

  .contact-us a:nth-child(2) {
    background-color: $green;
  }

  @media (max-width: 768px) {
    h2 {
      margin-bottom: 30px;
    }

    .head {
      display: block !important;
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  padding: 0 10px;
  float: initial;
  color: $white;
}

.breadcrumb-item a {
  color: $white !important;
}

.breadcrumb-item.active {
  color: $dark-orange !important;
}

// ================================== Hero Section ==================================

.hero {
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: calc(100vh - 68px);
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-title {
    color: $dark-orange;
    font-weight: bold;
  }

  .hero-desc {
    color: $white;
    max-width: 600px;
    margin: 10px auto 50px;
  }

  .hero-form {
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    background-color: rgba($color: $white, $alpha: 0.5);
    padding: 20px 25px;

    .form-select {
      background-image: none;
    }

    .form-item {
      position: relative;
    }

    .form-item i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
    }

    input,
    select,
    button {
      width: 100%;
      border: none;
      outline: none;
      height: 50px;
      border-radius: 6px;
    }

    select {
      padding-right: 10px;
      appearance: none;
    }

    .invalid-feedback {
      position: absolute;
      bottom: -50px;
      background: $white;
      padding: 10px;
      z-index: 1;
    }
  }

  .read-more {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

// ================================== Favorite Developers Section ==================================
.favorite-developers {
  .card {
    position: relative;
    overflow: hidden;

    .overlay {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    &:hover .overlay {
      background-image: linear-gradient(
        to bottom,
        rgba(253, 151, 4, 0.2528361686471463) 19%,
        rgba(253, 151, 4, 1) 100%
      );
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .card-text {
      position: absolute;
      top: -30%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-size: 25px;
      z-index: 2;
      transition: 0.4s ease-in-out;
    }

    &:hover .card-text {
      top: 50%;
    }
  }
}

// ================================== Contact Us Section ==================================
.contact-us {
  .contact-us-content {
    background: linear-gradient(90deg, #3845abd3 100%),
      url("../images/Image\ 1.png");
    background-image: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;

    .other-contact {
      background-color: $white;
      padding: 30px;
      padding-left: 50px;
      border-radius: 15px;
      position: relative;
      left: -50px;
    }

    @media (max-width: 1199px) {
      .other-contact {
        left: initial;
        margin-bottom: 20px;
      }
    }

    .other-contact a {
      text-decoration: none;
      color: $white;
      background: $dark-orange;
      border-radius: 10px;
      padding: 30px 20px;
      font-size: 20px;
    }

    .other-contact a:nth-child(2) {
      background: $green;
    }

    .other-contact a i {
      font-size: 30px;
    }

    form {
      background-color: $white;
      padding: 15px 30px;
      border-radius: 15px;
      position: relative;
      z-index: 1;

      h4 {
        font-size: 20px;
        margin-bottom: 30px;
      }

      input,
      textarea {
        display: block;
        width: 100%;
        border: none;
        outline: none;
        background: none;
        background: $white;
        border: 1px solid rgba(204, 204, 204, 0.548);
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
}

// ================================== Housing Units ==================================
.housing-units {
}

// ================================== Footer ==================================
footer {
  background: linear-gradient(90deg, #26328ae1 100%),
    url("../images/Image\ 1.png");
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0 0;
  color: $white;

  .footer-content-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 70px;

    .logo {
      img {
        width: 180px;
      }

      .desc {
        max-width: 300px;
        margin-top: 10px;
      }
    }

    .quick-links ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
      line-height: 2.2;
      font-size: 18px;
      font-weight: 300;

      a {
        color: $white;
      }
    }

    .f-contact-us {
      ul {
        text-align: left;
        line-height: 2.2;
        font-size: 18px;
        font-weight: 300;
      }
    }

    h5 {
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
    }

    i {
      color: $dark-orange;
    }
  }

  .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 55%;
      background: $white;
    }

    a {
      background: $white;
      color: $blue;
      font-size: 20px;
      height: 45px;
      width: 45px;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.4s ease-in-out;

      &:hover {
        background: $blue;
        color: $white;
      }
    }
  }

  .footer-content-bottom {
    text-align: center;
    margin: 0;
    background: $blue;
    padding: 20px 10px;
    margin-top: 30px;
    font-size: 18px;

    a {
      color: $dark-orange;
    }
  }
}
